 body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #f4f4f4;
      color: #333;
    }

    header {
      background: #475bce;
      color: white;
      text-align: center;
      padding: 50px 20px;
    }

    header h1 {
      font-size: 45px;
      margin-bottom: 10px;
      letter-spacing: 1px;
    }

    header p {
      font-size: 18px;
    }

       

    footer {
      background: #475bce;
      color: white;
      text-align: center;
      padding: 20px;
      margin-top: 40px;
    }